img {
  width: 75%;
  height: 75%;
  background-color: white
}

button:hover {
    color: red;
}

#enemyImage {
  background-color: black;
}

#gameArea {
  border: 3px black solid;
}

.stat {
  font-size: 20px;
}

#eventLog { 
  margin: 4px, 4px; 
  padding: 4px;
  height: 350px; 
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align: justify; 
} 

#playerArea {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#playerArea .inPopOut {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#playerArea .inPopOut span{
  text-decoration: none;
  font-size: 25px;
  color: deepskyblue;
  display: block;
  transition: 0.3s;
}

#playerArea .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #playerArea {padding-top: 15px;}
  #playerArea .inPopOut {font-size: 18px;}
}

#inventoryArea {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#inventoryArea .inPopOut {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#inventoryArea .inPopOut span{
  text-decoration: none;
  font-size: 25px;
  color: deepskyblue;
  display: block;
  transition: 0.3s;
}

#inventoryArea .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #playerArea {padding-top: 15px;}
  #playerArea .inPopOut {font-size: 18px;}
}

#detailRow {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#detailRow .inPopOut {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#detailRow .inPopOut:hover {
  color: deepskyblue;
}

@media screen and (max-height: 450px) {
  #detailRow {padding-top: 15px;}
  #detailRow .inPopOut {font-size: 18px;}
}