
img {
  width: 100%;
  height: 100%;
  background-color: white
}

button:hover {
    color:red;
}

#gameArea {
  border: 3px black solid;
}

/*
#gameArea *, #inventory * {
  background-color: grey;
}
*/

.stat {
  font-size: 20px;
}
