* {
  background-color: black;
  color: deepskyblue;
  font-family: fantasy;
  margin: auto;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

button {
  border: none;
  text-decoration: underline;
}

a:hover {
    color:red;
}

#title {
  font-size: 60px;
}

#disclaimer {
  font-size: 20px;
  font-style: italic;
}
